.tab {
  :global {
    .ant-tabs {
      background-color: #ffffff;
      border-radius: 10px;
      padding-bottom: 50px;
      margin: 25px 30px 0 30px;
    }
    .ant-tabs-nav-container {
      padding: 0px 45px;
      line-height: 35px;
      font-size: 16px;
    }
    .ant-tabs-extra-content {
      line-height: 56px;
      font-size: 16px;
      padding-right: 10px;
    }
    .ant-tabs-nav-container {
      .ant-tabs-tab {
        margin: 0px 80px 0px 0px !important;
      }
    }
  }
}
