@import '../../../../../Themes/base.scss';

.file_explore_actions {
  :global {
    .ant-btn-link {
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-btn-link:focus {
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-btn-link:hover {
      color: #40a9ff;
    }
  }
}
.files_raw_table {
  :global {
    .ant-table-tbody > tr > td {
      background: none !important;
    }
    tr.manifest-attached {
      opacity: 0.6;
      > td {
        background-color: white !important;
      }
    }
  }
}
.file_folder_path {
  :global {
    span:last-child {
      .ant-breadcrumb-link {
        font-weight: bold;
      }
    }
    .ant-breadcrumb-separator {
      color: #003262 !important;
    }
    .ant-breadcrumb-link {
      color: #003262 !important;
    }
  }
}

.file_dir {
  padding-top: 12px;

  :global {
    .Collapse_collapseBg__3m8BO {
      margin-bottom: 10px !important;
    }
    .ant-tree-iconEle {
      margin-right: 4px;
      font-size: 12px;
    }
    .ant-tree-title {
      font-size: 14px;
      color: #222222;
    }

    .ant-tree-treenode {
      padding: 0 !important;
    }

    .tree-custom-line {
      .ant-tree-treenode-switcher-open,
      .ant-tree-treenode-switcher-close {
        margin-left: 12px;

        .ant-tree-node-content-wrapper {
          margin-left: 21px;
          padding-left: 0;
          width: 165px;
        }

        .ant-tree-switcher-noop {
          width: 16px !important;
          height: 15px !important;
          border: 1px solid #d9d9d9;
          border-width: 0 0 1px 1px;
          border-radius: 0 0 0 9px;
          transform: translate(5px, 0px);
          position: absolute;
        }
      }

      .ant-tree-treenode-switcher-close {
        .ant-tree-switcher-noop {
          height: 35px !important;
          transform: translate(5px, -20px);
        }
      }
    }

    .tree-custom-line.green_room {
      .ant-tree-treenode-switcher-close {
        .ant-tree-switcher-noop {
          height: 15px !important;
          transform: translate(5px, 0px);
        }
      }
      .ant-tree-node-content-wrapper.ant-tree-node-selected {
        font-weight: 600;
        background-color: $primary-color-lightest-2;

        .ant-tree-title {
          color: $primary-color-2;
        }
      }
    }

    .tree-custom-line.core {
      span[title='Home'] .ant-tree-title {
        font-size: 14px;
      }
      .ant-tree-title {
        font-size: 12px;
      }

      .ant-tree-node-content-wrapper.ant-tree-node-selected {
        font-weight: 600;
        background-color: $primary-color-lightest-4;

        .ant-tree-title {
          color: $primary-color-4;
        }

        &[title='Home'] {
          background-color: $primary-color-lightest-1;

          .ant-tree-title {
            color: $primary-color-1;
          }
        }
      }
    }
  }
}

.file-explorer__tabs {
  :global {
    .ant-tabs-tab {
      border-width: 0 0 1px 0 !important;
      border-color: $background-color-1 !important;
    }

    .ant-tabs-bar {
      margin-bottom: 0;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
      background: none;
      margin-left: 16px;
      padding-bottom: 0;
      border: none;

      > div {
        padding-bottom: 6px;
      }

      &:first-of-type {
        margin-left: 8px;
      }

      &.ant-tabs-tab-active {
        position: relative;
        color: rgba(0, 0, 0, 0.65);

        &::after {
          content: '';
          width: 15px;
          height: 15px;
          position: absolute;
          bottom: 2.5%;
          left: -1.5%;
          border-color: $background-color-1;
          border-width: 2px 0 0 2px;
          border-style: solid;
          border-radius: 6px 0 0 0;
        }
      }

      &[data-active-tab='greenroom'] {
        > div {
          border-bottom: 2px solid $primary-color-2;
          color: $primary-color-2;
          
          > span:first-child {
            color: $primary-color-2;
          }
        }
      }

      &[data-active-tab='core'] {
        > div {
          border-bottom: 2px solid $primary-color-light-1;
          color: $primary-color-light-1;
           
          > span:first-child {
            color: $primary-color-light-1;
          }
        }
      }

       &[data-active-tab='vfolder'] {
        > div {
          border-bottom: 2px solid $primary-color-light-4;
          color: $primary-color-light-4;
           
          > span:first-child {
            color: $primary-color-light-4;
          }
        }
      }

       &[data-active-tab='trash'] {
        > div {
          border-bottom: 2px solid $primary-color-light-3;
          color: $primary-color-light-3;
           
          > span:first-child {
            color: $primary-color-light-3;
          }
        }
      }
    }
  }
}

.trash_bin {
  cursor: pointer;
  margin-left: 5px;
  display: inline-block;
  width: 165px;
  padding: 0.5px 0 0.5px 8px;
  border-radius: 4px;

  &--active {
    background-color: $primary-color-lightest-3;
    color: $primary-color-3;
  }
}

.create_new_collection {
  margin: 0px 0px 4px 0px;
  :global {
    .ant-form-item-control-input-content {
      display: flex;
      align-items: center;
    }
    .ant-form-item-explain {
      margin-left: 10px;
    }
  }
}

.update_collection_name {
  margin: 0px 0px 4px 0px;
  :global {
    .ant-form-item-control-input-content {
      display: flex;
      align-items: center;
    }
    .ant-form-item-explain {
      margin-left: 15px;
    }
  }
}

.drop-down {
  :global {
    li {
      display: none;
    }
  }
}

.greenroom_title {
  cursor: pointer;
}

.core_title {
  cursor: pointer;
}

.modal-lineage-graph {
  :global {
    .ant-spin {
      &-nested-loading,
      &-container {
        position: static;
      }
      &-nested-loading > div > .ant-spin {
        top: 85px;
      }
    }
  }
}

.show-menu-1 {
  :global {
    li:nth-last-child(1) {
      display: block;
    }
  }
}

.show-menu-2 {
  :global {
    li:nth-last-child(1) {
      display: block;
    }
    li:nth-last-child(2) {
      display: block;
    }
  }
}

.show-menu-3 {
  :global {
    li:nth-last-child(1) {
      display: block;
    }
    li:nth-last-child(2) {
      display: block;
    }
    li:nth-last-child(3) {
      display: block;
    }
  }
}

.show-menu-4 {
  :global {
    li:nth-last-child(1) {
      display: block;
    }
    li:nth-last-child(2) {
      display: block;
    }
    li:nth-last-child(3) {
      display: block;
    }
    li:nth-last-child(4) {
      display: block;
    }
  }
}

.show-menu-5 {
  :global {
    li:nth-last-child(1) {
      display: block;
    }
    li:nth-last-child(2) {
      display: block;
    }
    li:nth-last-child(3) {
      display: block;
    }
    li:nth-last-child(4) {
      display: block;
    }
    li:nth-last-child(5) {
      display: block;
    }
  }
}

.show-menu-6 {
  :global {
    li:nth-last-child(1) {
      display: block;
    }
    li:nth-last-child(2) {
      display: block;
    }
    li:nth-last-child(3) {
      display: block;
    }
    li:nth-last-child(4) {
      display: block;
    }
    li:nth-last-child(5) {
      display: block;
    }
    li:nth-last-child(6) {
      display: block;
    }
  }
}

.show-menu-7 {
  :global {
    li:nth-last-child(1) {
      display: block;
    }
    li:nth-last-child(2) {
      display: block;
    }
    li:nth-last-child(3) {
      display: block;
    }
    li:nth-last-child(4) {
      display: block;
    }
    li:nth-last-child(5) {
      display: block;
    }
    li:nth-last-child(6) {
      display: block;
    }
    li:nth-last-child(7) {
      display: block;
    }
  }
}

@media (max-width: 1500px) {
  .customized_tags {
    display: flex;
    flex-direction: column;
    :global {
      .ant-btn {
        margin-left: 0px !important;
        margin-bottom: 5px !important;
      }
    }
  }
}

.file_explore_actions {
  margin: 6px 0;
  position: relative;
  padding-left: 8px;
}

/*
@media (min-width: 1366px) {
  .hide-more {
    display: none;
  }
}

@media (max-width: 1366px) {
  .file_explore_actions {
    button:nth-last-child(3) {
      display: none;
    }
  }
  .drop-down{
    :global{
      li:nth-last-child(1){
         display: block; 
      }
    }
  }
}

@media (max-width: 1280px) {
  .file_explore_actions {
    button:nth-last-child(4) {
      display: none;
    }
  }
  .drop-down{
    :global{
      li:nth-last-child(2){
         display: block; 
      }
    }
  }
} */
