.stats {
  padding-bottom: 22px;
  display: flex;
}

.userStats {
  display: flex;
  justify-content: center;
}

.antStatistic {
  width: 100%;
}

.card {
  width: 188px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px #00000020;
  border-radius: 6px !important;
  opacity: 1;
  margin: 6px 8px !important;
  padding: 6px 10px !important;
  :global {
    .ant-row {
      flex-wrap: nowrap;
    }
    .ant-card-body {
      padding: 6px 10px !important;
    }
  }
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.8rem;
}

.icon {
  font-size: 2.4rem;
  opacity: 1;
}

.fileNumber {
  font-size: 1rem;
  color: #a5b0b6;
  font-weight: 500;
  margin-top: -0.3rem;
}

.fileFont {
  color: #595959;
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 0.1rem;
}

.iconColumn {
  margin-top: 0.8rem;
}

.file {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.fileStreamIcon {
  height: 11.56px;
  width: 17.82px;
  font-size: 1.4rem;
  margin-left: 1.1rem;
  margin-top: -0.1rem;
}

.connect-line {
  background-color: #edf1f4;
  width: 1px;
  height: 1.3rem;
  margin-left: 1.7rem;
  margin-top: 0.3rem;
}

.fileName {
  // flex: 1;
  font-size: 1.2rem;
  font-weight: 500;
  color: #595959;
  margin-left: 1.3rem;
  overflow: hidden;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userName {
  font-size: 1.2rem;
  color: #a5b0b6;
  font-style: italic;
  margin-top: -0.4rem;
  margin-left: 2.3rem;
}

.time {
  font-size: 1.2rem;
  color: #a5b0b6;
  font-style: italic;
  margin-top: -0.4rem;
}

.pageination {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #edf1f4;

  :global {
    .ant-pagination-item-active {
      color: #818181 !important;
      border-color: #fff !important;
    }

    .ant-pagination-item-active a {
      color: #818181 !important;
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      color: #818181 !important;
    }

    .ant-pagination {
      max-width: 6.92rem !important;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ant-pagination.mini .ant-pagination-options-size-changer {
      border-radius: 6px !important;
      height: 22px !important;
      display: float !important;
      position: absolute !important;
      bottom: 0 !important;
      right: 10rem !important;
      margin-top: 0.7rem;
    }

    .ant-select:not(.ant-select-disabeld):hover .ant-select-selector {
      border-radius: 6px !important;
      height: 22px !important;
      font-size: 1.2rem;
    }
    .ant-select-single.ant-select-sm:not(.ant-select-customize-input)
      .ant-select-selector {
      border-radius: 6px !important;
      height: 22px !important;
      font-size: 1.2rem;
    }
  }
}

.pageText {
  color: #818181;
  font-size: 1.2rem;
  padding-top: 2rem;
  margin-left: 8rem;
}

.charts {
  &__meta {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0 1.2rem 1.2rem 1.2rem;
    margin: 0 -12px; // offset 12px padding in .ant-card-body
    border-bottom: 1px solid #f0f0f0;

    li {
      font-size: 1.2rem;

      span:first-of-type {
        margin-bottom: -0.4rem;
      }
    }

    .meta-stat {
      font-size: 2rem;
      font-weight: 600;

      span[role='img'] {
        margin-right: 0.8rem;
      }
    }
  }

  .meta {
    &__files,
    &__file-size,
    &__project-members {
      .meta-stat {
        color: #003262;
      }
    }

    &__uploaded {
      .meta-stat {
        color: #529bbc;
      }
    }

    &__downloaded {
      .meta-stat {
        color: #5b8c00;
      }
    }
  }

  &__graphs {
    // padding: 1.2rem 0 0.7rem 0;
    padding-top: 1.2rem;

    .graphs__container {
      margin-bottom: 1rem;
      padding: 0 1.5rem;
    }

    .graphs__title {
      color: #003262;
      margin-bottom: 1.2rem;
    }
  }
}
