.heatmap-container {
  position: relative;
}

.heatmap-legend {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  right: 0;
  top: -3.5rem;

  li {
    font-size: 12px;
    color: #595959;
    margin-left: 1.1rem;

    &:first-child {
      margin-right: 0.4rem;
      margin-left: 0;
    }

    &:last-child {
      margin-left: 1.5rem;
    }

    &.heatmap-legend__color {
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 2px;
    }
  }
}

.grouped-column-line-legend {
  composes: heatmap-legend;
  position: static;
  margin-bottom: 0.4rem;

  &__legend-item {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  &__label {
    text-transform: capitalize;
  }
}
