@import '../../Themes/base.scss';
.bg {
  height: 100vh;
  min-width: 950px;
  min-height: 800px;
  z-index: 0;
  background-color: $primary-color-dark-7 !important;
  color: #f0f0f0;

  // :global {
  //   .ant-row {
  //     padding: 250px 0 0 195px;

  //     @media (max-width: 1220px) {
  //       padding: 250px 0 0 100px;
  //     }
  //   }
  // }

  &-icon {
    z-index: 1;
    position: absolute;
    width: 80rem;
    height: 80rem;

    overflow: hidden;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-4%, -30%);
      // transform: translate(38rem, 15%);
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  // padding-top: 28rem;
  position: relative;
}

.header {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 6.1rem;
  margin-top: 2.4rem;
  margin-left: 4.8rem;
  margin-bottom: 20.9rem;

  &__logo {
    width: 8.1rem;
    height: 3.4rem;
    margin-right: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__register {
    font-size: 1.4rem;
    margin-right: 1.47rem;
    margin-top: 0.6rem;
  }

  &__login {
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 1.6rem;
    padding-right: 1.2rem;
    padding-top: 0.3rem;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.6rem;
    height: 3rem;
  }
}

.descr,
.descr-trapezoid {
  z-index: 3;
  display: flex;
  flex-direction: row;

  &__logo {
    width: 19.2rem;
    margin-bottom: 2.7rem;
  }

  &__img {
    width: 36.5rem;
    height: 22.01rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    line-height: 2.7rem;
    font-size: 3rem;
    font-weight: 600;
  }

  &-right {
    display: flex;
    flex-direction: column;
  }
}

.trapezoid {
  position: absolute;
  width: 430px;
  height: 100px;
  border-bottom: 6000px;
  border-top: 100px;
  border-left: 140px;
  border-right: 100px;
  border-style: solid;
  border-color: transparent transparent $primary-color-light-8 transparent;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin-top: -270rem;
  z-index: 3;
}

@media only screen and (min-width: 1440px) {
  .trapezoid {
    margin-top: -220rem;
  }
}

.trapezoid-rotation {
  position: absolute;
  width: 430px;
  height: 100px;
  border-bottom: 6000px;
  border-top: 100px;
  border-left: 100px;
  border-right: 100px;
  border-style: solid;
  border-color: transparent transparent $primary-color-light-8 transparent;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  z-index: 3;
  margin-top: -283rem;
}

@media only screen and (min-width: 1440px) {
  .trapezoid-rotation {
    margin-top: -230rem;
  }
}

.descr-trapezoid {
  position: absolute;
  margin-top: 23rem;
}

.doc {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 15rem;
  z-index: 4;

  &__title {
    font-size: 3.5rem;
    font-weight: 400;
    margin-left: 22.8rem;
    margin-bottom: 1.5rem;
  }

  &-content__img {
    width: 12.5rem;
    height: 7rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-content__text {
    font-size: 1.8rem;
    width: 38rem;
    margin-left: 4.8rem;
    margin-right: 6.8rem;
  }

  &-content__btn {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3.9rem;
    padding-right: 3rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    text-align: center;
    background-color: $primary-color-dark-7;
    border-radius: 0.9rem;
  }

  &-content {
    display: flex;
    flex-direction: row;
    margin-left: 32rem;
    align-items: center;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 38rem;
  padding-top: 5.5rem;
  padding-bottom: 4.6rem;
  background-color: $primary-color-dark-5;
  z-index: 5;
  &-logo {
    width: 10.4rem;
    height: 5.4rem;
    margin-left: 4.8rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &-links {
    display: flex;
    flex-direction: column;

    font-size: 1.4rem;
    margin-left: 4rem;

    &__text {
      margin-bottom: 1.1rem;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;

    &__login {
      font-size: 1.4rem;
      font-weight: 400;
      padding-left: 1.6rem;
      padding-right: 1.2rem;
      padding-top: 0.3rem;
      text-align: center;
      border: 1px solid #fff;
      margin-right: 6.1rem;
      margin-left: 14rem;
      border-radius: 0.6rem;
      height: 3rem;
      // width: 9.2rem;
    }

    &__version {
      margin-top: 6.1rem;
      font-size: 1rem;
      margin-right: 6.1rem;
      padding-bottom: 1.2rem;
    }
  }
}
.landing {
  &-container {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    max-width: 790px !important;
    z-index: 1;
  }

  &__description {
    padding-left: 45px;
    margin-top: 22px;

    ul,
    p {
      margin-bottom: 36px;
    }
  }

  &__list {
    ul {
      padding-left: 35px;
    }

    > p {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 4px;
    }
  }

  &__login-button {
    width: 175px;
    height: auto !important;
    font-size: 20px !important;
    font-weight: 100;
    background-color: transparent !important;
    border-radius: 9px !important;
    border: 1px solid #f0f0f0 !important;
  }
}

.utils {
  position: fixed;
  bottom: 8px;
  left: 16px;
}

.copyright {
  font-size: 16px;
  position: absolute;
  bottom: 32px;
  right: 93px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
