.bg {
  height: 100vh;
  min-width: 950px;
  min-height: 800px;
  background-color: #204266 !important;
  color: #f0f0f0;

  :global {
    .ant-row {
      padding: 250px 0 0 195px;

      @media (max-width: 1220px) {
        padding: 250px 0 0 100px;
      }
    }
  }

  &-icon {
    position: absolute;
    height: 100%;
    max-height: 92%;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      transform: translateX(160px);
    }
  }
}

.landing {
  &-container {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    max-width: 790px !important;
    z-index: 1;
  }

  &__description {
    padding-left: 45px;
    margin-top: 22px;

    ul,
    p {
      margin-bottom: 36px;
    }
  }

  &__list {
    ul {
      padding-left: 35px;
    }

    > p {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 4px;
    }
  }

  &__login-button {
    width: 175px;
    height: auto !important;
    font-size: 20px !important;
    font-weight: 100;
    background-color: transparent !important;
    border-radius: 9px !important;
    border: 1px solid #f0f0f0 !important;
  }
}

.utils {
  position: fixed;
  bottom: 8px;
  left: 16px;
}

.copyright {
  font-size: 16px;
  position: absolute;
  bottom: 32px;
  right: 93px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
